<!DOCTYPE html>
<html>

<head>
  {{> head }}
  <title>Hello World!</title>
</head>

<body>
  <h1>Hello World!</h1>
  <p>{{appName}}: {{appVersion}}<br>
    Node.js: {{nodeVersion}}<br>
    Chromium: {{chromeVersion}}<br>
    Electron: {{electronVersion}}</p>
  <a href="handlebars:///about">link</a>
</body>

</html>